<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Little Corner of the World</title>
        <meta name="description" content="My Little Corner of the World">
        <meta name="author" content="Molly Hurlburt">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,500" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'post_list' %}">Blog</a></li>
              {% for page in pages %}
                <li><a href="{% url 'page' slug=page.slug %}">{{ page.title }}</a></li>
              {% endfor %}
            </ul>
            <ul id="user-bar" class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">log out</a></li>
              <li><a href="{% url 'post_new' %}" class="top-menu"><i class="fa fa-plus"></i></a></li>
              <li><a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fa fa-list-ul"></i></a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

      <div class="jumbotron">
        <div class="title">My Little Corner of the World</div>
      </div>

      <div class="container" style="padding-bottom: 60px;">

        {% load instagram_client %}
        {% instagram_user_recent_media mollyrose30 %}
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
          <div class="col-md-4">
            <div>
              <div class="instagrid">
                <div class="col-md-12">
                  {% for media in recent_media|slice:":3" %}
                    <a href="https://www.instagram.com/p/{{ media.code }}/" target="_blank" title="{{ media.caption }}">
                      <img class="instagrid-item" src="{{ media.thumbnail_src }}"/>
                    </a>
                  {% endfor %}
                </div>
                <div class="col-md-12">
                  {% for media in recent_media|slice:"4:7" %}
                    <a href="https://www.instagram.com/p/{{ media.code }}/" target="_blank" title="{{ media.caption }}">
                      <img class="instagrid-item" src="{{ media.thumbnail_src }}"/>
                    </a>
                  {% endfor %}
                </div>
                <div class="col-md-12">
                  {% for media in recent_media|slice:"8:11" %}
                    <a href="https://www.instagram.com/p/{{ media.code }}/" target="_blank" title="{{ media.caption }}">
                      <img class="instagrid-item" src="{{ media.thumbnail_src }}"/>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </body>
</html>
