body{
	color: rgb(55,55,55);
  padding-top: 50px;
}

.btn {
  border-radius: 16px;
}

.jumbotron {
  background: url(../img/BradyMollyMarried-406.jpg);
  background-size: cover;
}

.title {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.navbar-inverse {
  background-color: #0F0F37;
  border-color: #0F0F37;
}

#user-bar li > a{
  color: #3c3c5b;
}

.im-centered { margin: auto; max-width: 300px;}

.post-title{
	font-size: 2.25em;
	margin-bottom: 1em;
}

.post-list-title{
	font-size: 2.25em;
	margin-bottom: 0em;
}

.post-list-entry{
  margin-top: 2em;
}

.post-list-title a{
	color: #373737;
}

img{
  margin-bottom: 1.5em;
}

h2{
	font-size: 1.5em;
	line-height: 1.5em;
	margin-bottom: 1em;
	margin-top: 0;
}

p{
	font-size: 1.0em;
	line-height: 1.5em;
	padding-bottom: 1em;
}

.tag{
  background-color: #eef1f3;
  font-size: 90%;
  padding: 0.75rem;
  border-radius: 3px;
  color: #5d5d5d;
  display: inline-block;
}

.header{
	margin: 2em 3em;
}

.user-bar{
	margin-left: 3em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-left:0;
  padding-right:0;
}

.user-bar a{
	color: rgb(135,135,135);
}

.name{
	font-size: 1.0em;
	font-family: 'DINPro', sans-serif;
	font-weight: 500;
  margin-top: -1.0em;
	margin-bottom: 0;
}

.name a{
	color: rgb(55,55,55);
}


.date{
	color: rgb(135,135,135);
	font-size: 1.0em;
	letter-spacing: 0.8px;
}

.col-centered{
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

strong{
	font-weight: bold;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.nav-link {
	color: rgb(200,200,200);
	font-size: 2.0em;
}

.nav-link i {
	margin-top: 0.7em;
}

.instagrid-item {
  height: 100px;
  margin-bottom: 5px;
}
